/******************
/ 
/ 기본 베이스 css
/
/******************/
body {
    margin: 0;
    font-family:sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #334155;
    background-color: #222736;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

/* Margin */
.mg0 { margin:0 !important;}
.mg5 { margin:5px !important;}
.mg10 { margin:10px !important;}

.mt0 { margin-top:0 !important;}
.mt5 { margin-top:5px !important;}
.mt10 { margin-top:10px !important;}
.mt14 { margin-top:14px !important;}
.mt15 { margin-top:15px !important;}
.mt20 { margin-top:20px !important;}
.mt25 { margin-top:25px !important;}
.mt30 { margin-top:30px !important;}
.mt40 { margin-top:40px !important;}
.mt50 { margin-top:50px !important;}
.mt60 { margin-top:60px !important;}
.mt70 { margin-top:70px !important;}
.mt80 { margin-top:80px !important;}
.mt90 { margin-top:90px !important;}
.mt100 { margin-top:100px !important;}

.mb0 { margin-bottom:0 !important;}
.mb5 { margin-bottom:5px !important;}
.mb10 { margin-bottom:10px !important;}
.mb15 { margin-bottom:15px !important;}
.mb20 { margin-bottom:20px !important;}
.mb25 { margin-bottom:25px !important;}
.mb30 { margin-bottom:30px !important;}
.mb35 { margin-bottom:35px !important;}
.mb40 { margin-bottom:40px !important;}
.mb45 { margin-bottom:45px !important;}
.mb50 { margin-bottom:50px !important;}
.mb55 { margin-bottom:55px !important;}
.mb60 { margin-bottom:60px !important;}
.mb65 { margin-bottom:65px !important;}
.mb70 { margin-bottom:70px !important;}
.mb80 { margin-bottom:80px !important;}

.ml0 { margin-left:0 !important;}
.ml5 { margin-left:5px !important;}
.ml10 { margin-left:10px !important;}
.ml15 { margin-left:15px !important;}
.ml20 { margin-left:20px !important;}
.ml30 { margin-left:30px !important;}

.mr0 { margin-right:0 !important;}
.mr5 { margin-right:5px !important;}
.mr10 { margin-right:10px !important;}
.mr15 { margin-right:15px !important;}
.mr20 { margin-right:20px !important;}
.mr30 { margin-right:30px !important;}

.mw10 { margin-left:10px !important; margin-right:10px !important;}
.mw15 { margin-left:15px !important; margin-right:15px !important;}
.mw20 { margin-left:20px !important; margin-right:20px !important;}
.mw30 { margin-left:30px !important; margin-right:30px !important;}
.mw50 { margin-left:50px !important; margin-right:50px !important;}
.mh100 { margin-top:100px !important; margin-bottom:100px !important;}


/* Padding */
.pd0 { padding: 0 !important;}
.pd2 { padding: 2 !important;}
.pd10 { padding: 10px !important;}
.pd20 { padding: 20px !important;}

.pt0 { padding-top:0 !important;}
.pt5 { padding-top:5px !important;}
.pt10 { padding-top:10px !important;}
.pt15 { padding-top:15px !important;}
.pt20 { padding-top:20px !important;}
.pt30 { padding-top:30px !important;}
.pt40 { padding-top:40px !important;}
.pt50 { padding-top:50px !important;}
.pt60 { padding-top:60px !important;}
.pt70 { padding-top:70px !important;}
.pt80 { padding-top:80px !important;}
.pt100 { padding-top:100px !important;}
.pt110 { padding-top:110px !important;}

.pb0 { padding-bottom:0 !important;}
.pb5 { padding-bottom:5px !important;}
.pb10 { padding-bottom:10px !important;}
.pb15 { padding-bottom:15px !important;}
.pb20 { padding-bottom:20px !important;}
.pb30 { padding-bottom:30px !important;}
.pb40 { padding-bottom:40px !important;}
.pb50 { padding-bottom:50px !important;}
.pb60 { padding-bottom:60px !important;}
.pb70 { padding-bottom:70px !important;}
.pb100 { padding-bottom:100px !important;}

.pr0 { padding-right:0 !important;}
.pr5 { padding-right:5px !important;}
.pr10 { padding-right:10px !important;}
.pr15 { padding-right:15px !important;}
.pr20 { padding-right:20px !important;}
.pr30 { padding-right:30px !important;}
.pr40 { padding-right:40px !important;}
.pr50 { padding-right:50px !important;}
.pr60 { padding-right:60px !important;}
.pr70 { padding-right:70px !important;}
.pr100 { padding-right:100px !important;}

.pl0 { padding-left:0 !important;}
.pl5 { padding-left:5px !important;}
.pl10 { padding-left:10px !important;}
.pl15 { padding-left:15px !important;}
.pl20 { padding-left:20px !important;}
.pl30 { padding-left:30px !important;}
.pl40 { padding-left:40px !important;}
.pl50 { padding-left:50px !important;}
.pl60 { padding-left:60px !important;}
.pl70 { padding-left:70px !important;}
.pl100 { padding-left:100px !important;}

.ph20 { padding-top:20px !important; padding-bottom:20px !important;}
.ph40 { padding-top:40px !important; padding-bottom:40px !important;}
.ph50 { padding-top:50px !important; padding-bottom:50px !important;}
.ph80 { padding-top:80px !important; padding-bottom:80px !important;}
.ph100 { padding-top:100px !important; padding-bottom:100px !important;}

.pw20 { padding-left: 20px !important; padding-right: 20px !important;}

/*float Guide*/
.f_left {float: left;}
.f_right {float: right;}
.f_none {float: none !important;}


/* font size */
.ft12 {
  font-size:12px !important;
}

.ft13 {
  font-size:13px !important;
}

.ft14 {
  font-size:14px !important;
}

.ft15 {
  font-size:15px !important;
}

.ft16 {
  font-size:16px !important;
}






/* font weight */
.ftb5 {
  font-weight:500;
}
.ftb6 {
  font-weight:600;
}

/* form */
.el-form-item__label {
  font-size:13.3333px;
}


/* height */
.hero-static {
  min-height:100vh;
}

/* line-height */
.line_h32 {
  line-height:32px;
}
.line_h43 {
  line-height:43px;
}


/* text-align */
.tal {
  text-align:left !important;
}
.tar {
  text-align:right !important;
}
.tac {
  text-align:center !important;
}

/* vertical */
.vmid {
  vertical-align:middle;
}

/* gutters */
.no-gutters {
  margin-right:0 !important;
  margin-left:0 !important;
}

/* display */
.d_inline {
  display:inline-block;
}

/* color */
.bs-danger {
  color:#f46a6a;
}
.ts-font01 {
  color:#a6b0cf;
}
.ts-font02 {
  color:#FFF;
}


.TableLeftName {
  color: #a6b0cf;
  font-weight: 600;
}

.TabletitleName {
  color: #fff;
  font-weight: 600;
}


/* opacity */
.bs-op07 {
  opacity: 0.7;
}